abacatepay
annotated-types
blinker
certifi
charset-normalizer
click
contourpy
cycler
defusedxml
Faker
Flask
Flask-Login
Flask-SQLAlchemy
fonttools
fpdf2
greenlet
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pillow
pydantic
pydantic_core
pyparsing
python-dateutil
python-dotenv
pytz
qrcode
requests
six
SQLAlchemy
typing-inspection
typing_extensions
tzdata
urllib3
Werkzeug
